/* Criado por Luan Carvalho em 22.03.2023 às 18:24 */

:root {
  font-size: 16px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: #fff;
  font-family: 'Noto Sans', sans-serif;
}

a,
a:link {
  text-decoration: none !important;
}

a:hover {
  text-decoration: underline !important;
}

a img,
a:link img,
a:hover img {
  text-decoration: none !important;
}

body {
  width: 100%;
  height: 100%;
  background-color: #2B0042;
  /*background-image: radial-gradient(circle, #181D31 30%, transparent), conic-gradient(#181D31 10%, #6E1046 35%, #181D31 60%, #181D31 69%, #6E1046 80%, #181D31 92%);*/
  background-image: linear-gradient(150deg, #2B0042, #23003A);
  background-attachment: fixed;
  background-repeat: no-repeat;
}

header {
  display: flex;
  width: 100%;
  margin-bottom: 5px;
  background-color: rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 0;
  left: 0;
  padding: 0.3vmin;
  backdrop-filter: blur(1vmax) blur(0.5vmax);
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  margin-left: 1vmin;
}

header .logo img {
  max-height: 1.2cm;
  padding: 0.7vmin;
}

header .links a,
header .links a:link {
  margin-right: 1vmin;
}

.linksTelaPequena {
  display: none;
}

footer {
  display: inline-block;
  width: 100%;
  padding: 3px 1%;
  background-color: #190027;
}

footer img.iconeMK {
  height: 1rem;
  display: inline;
  margin-right: 1rem;
}

.conteudo {
  display: inline-block;
  width: 100%;
  padding: 0 1%;
  min-height: 70vh;
}

.cardTela {
  display: flex;
  width: 100%;
  min-height: 80vh;
  text-align: center;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
}

p.destaque {
  font-size: 4rem;
  line-height: 4.2rem;
  margin-bottom: 1rem;
  font-weight: 300;
}

.iconeMidiasSociais {
  width: 0.7cm;
  margin: 0 0 0 0.3cm;
  display: flex;
}

.icons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.centralizarNaVertical {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.fonteLeve {
  font-weight: 300;
}

.card {
  width: 100%;
  display: inline-block;
  padding: 1rem 0;
  font-weight: 300;
}

.card .blocoCentral {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.card .blocoCentral h1 {
  font-size: 2rem;
  font-weight: 800;
}

@media only screen and (max-width: 600px) {
  .linksTelaPequena {
    display: inline-block;
    width: 100%;
    padding: 0 1%;
    background-color: rgba(0, 0, 0, 0.1);
  }

  .linksTelaPequena .links {
    padding-left: 5px;
  }

  header .links {
    display: none;
  }

  .centralizarNaVertical {
    flex-direction: column;
  }

  .iconeMidiasSociais {
    flex-direction: row;
    margin: 0.2cm 0.15cm 0 0.15cm;
  }
}