/* Criado por Luan Carvalho em 22.03.2023 às 18:24 */

:root {
  font-size: 16px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: #fff;
  font-family: 'Noto Sans', sans-serif;
}

a,
a:link {
  text-decoration: none !important;
  font-weight: bold;
  display: inline;
}

a:hover {
  text-decoration: underline !important;
}

a img,
a:link img,
a:hover img {
  text-decoration: none !important;
}

body {
  width: 100%;
  height: 100%;
  background-color: #111;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

header {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0 1vw;
  background-image: linear-gradient(150deg, #2B0042, #23003A);
  position: sticky;
  top: 0;
  left: 0;
  backdrop-filter: blur(1vmax) blur(0.5vmax);
}

.headerEsp {
  display: flex;
  width: 100%;
  max-width: 1100px;
  margin: auto;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.headerEsp .logo {
  display: inline-block;
  width: 17%;
  min-width: 5cm;
  margin: 1% 0;
}

.headerEsp .logo img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  padding: 0.7vmin;
}

.headerEsp .links a,
.headerEsp .links a:link {
  margin-right: 1vmin;
}

.linksTelaPequena {
  display: none;
}

footer {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0 1vw;
  background-color: rgba(0, 0, 0, 0.2);
}

.footerEsp {
  display: flex;
  width: 100%;
  height: 1.5cm;
  max-width: 1100px;
  margin: auto;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

footer img.iconeMK {
  height: 1rem;
  display: inline;
  margin-right: 1rem;
}

.conteudo {
  display: block;
  width: 100%;
  max-width: 1100px;
  margin: auto;
  min-height: 70vh;
  padding: 0 1vw;
}

.cardTela {
  display: flex;
  width: 100%;
  min-height: 80vh;
  text-align: center;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
}

p.destaque {
  font-size: 4rem;
  line-height: 4.2rem;
  margin-bottom: 1rem;
  font-weight: 300;
}

.iconeMidiasSociais {
  width: 0.5cm;
  margin: 0 0 0 0.3cm;
  display: flex;
}

.fooIcons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.fonteLeve {
  font-weight: 300;
}

.card {
  width: 100%;
  display: inline-block;
  padding: 1rem 0;
  font-weight: 300;
}

.card .blocoCentral {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.card .blocoCentral h1 {
  font-size: 2rem;
  font-weight: 800;
}

.card ul {
  list-style: none;
}

.card ul li {
  margin-top: 0.5cm;
  border-top: 1px solid #aaa;
}

.card ul .subtitulo {
  font-size: 1.5rem;
  font-weight: 600;

}

.btnLista {
  text-align: right;
  display: block;
  width: 100%;
}

.btLink {
  display: inline-block;
  background-color: #0a0a0a;
  padding: 0.15cm;
  border-radius: 0.1cm;
  margin: 3px;
}

.card ul li .btLink {
  margin-top: 0;
}

@media only screen and (max-width: 600px) {
  .linksTelaPequena {
    display: inline-block;
    width: 100%;
    padding: 0 1%;
    background-color: rgba(0, 0, 0, 0.1);
  }

  .linksTelaPequena .links {
    padding-left: 5px;
  }

  header .links {
    display: none;
  }

  p.destaque {
    font-size: 3rem;
    line-height: 3.15rem;
    margin-bottom: 0.75rem;
    font-weight: 300;
  }  
}